@import "tailwindcss";

.divider {
  width: 1px;
  height: 100px; /* Sesuaikan tinggi yang diinginkan */
  background-color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat-alternates);
}
